/data/droughtindices

/data/cache

/data/cache2

/data/shapefiles/temp

/env

*.log

*.pot

*.pyc

*/*/*/__pycache__/

*/*/__pycache__/

*/__pycache__/

# Drought Index Data
indices/
cache/
cache1/
cache2/
logs/

DS_Store
__pycache__/

.vscode/

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

profile_default/
ipython_config.py

